

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.gallery
{
    /* margin-top: 5px; */
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    min-height: 100vh;
  grid-gap: 2rem;
  background-color: rgb(32, 31, 32);
  /* margin-left: 5px;
  margin-right: 5px; */
  background-image: url(/dotted.svg);

}

/* .loader-wrapper
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
} */
.img-container
{
    overflow: hidden;
}
.img-container img
{
  width: 100%;
  height: 90%;
  object-fit: cover;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.img-container div
{
    width: 100%;
    height: 20%;
}
.star img
{
    width: 5%;
    height: 25%;
    color: aliceblue;
}
.img-container img:hover
{
    transform: scale(1.2);
}


.modal
{
    background: rgba(0, 0,0, 0.6);
    /* background: black; */
    /* opacity: 0.6; */
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}
.modal.open 
{
    opacity: 1;
    pointer-events: all;
}

.full-img
{
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25 ease-out;
}

/* .full-img.open
{
   transform: translate(-50%,-50%) scale(1);
} */
.caption
{
    color:  #45f3ff;
    opacity: 0;
    font-size: 2rem;
    bottom: 5%;
    left: 50%;
    position: absolute;
    font-family: 'Lobster', cursive;
    transform: translate(-50%,-5%) scale(0.5);
    transition: all 0.25 ease-out;
}

.caption.open
{
    opacity: 1;
    transform: translate(-50%,-5%) scale(1);
    
}